# ------------------------------------------------
# Rewrite rules for parent folder
# ------------------------------------------------
# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteCond %{REQUEST_URI} !^/_mywebsiteout
#     RewriteRule ^(.*)$ _mywebsiteout/$1 [L]
# </IfModule>


# ------------------------------------------------
# Rewrite rules for pages
# ------------------------------------------------
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule   ^.$  index.html
    RewriteRule   ^/$  index.html
    RewriteRule   ^$  index.html
    RewriteRule   ^dlMetro$  dlMetro.html
    RewriteRule   ^dlMetro/examples(.*)$  examples/dlMetro-examples$1
    RewriteRule   ^dlMetro/core(.*)$  examples/core$1
</IfModule>


# ------------------------------------------------
# Error management
# ------------------------------------------------
