# ------------------------------------------------
# Rewrite rules for parent folder
# ------------------------------------------------
# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteCond %{REQUEST_URI} !^/_mywebsiteout
#     RewriteRule ^(.*)$ _mywebsiteout/$1 [L]
# </IfModule>


# ------------------------------------------------
# Rewrite rules for pages
# ------------------------------------------------
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule   ^.$  index.html
    RewriteRule   ^/$  index.html
    RewriteRule   ^$  index.html
    RewriteRule   ^dlMetro$  dlMetro.html
    RewriteRule   ^surfway$  surfway.html
    RewriteRule   ^https://github.com/develost/surfway(.*)$  https://github.com/develost/surfway$1 [P]
    RewriteRule   ^dlMetro/examples(.*)$  examples/dlMetro-examples$1
    RewriteRule   ^dlMetro/core(.*)$  examples/core$1
    RewriteRule   ^tython$  tython.html
    RewriteRule   ^visibility-program$  visibility-program.html
    RewriteRule   ^websu$  websu.html
    RewriteRule   ^websu-parameters$  websu-params.html
    RewriteRule   ^https://github.com/develost/websu(.*)$  https://github.com/develost/websu$1 [P]
</IfModule>


# ------------------------------------------------
# Error management
# ------------------------------------------------
ErrorDocument 404  /error404.html
